<div class="col-4">
    <div class="card shadow-sm mb-3">
        <div class="card-header bg-primary text-light">
            <h5><%= user.name %></h5>
            <p><i class="fa fa-cogs" aria-hidden="true"></i>Engineer</p>
        </div>
        <div class="card-body" style="background-color: #eeeeee;">
            <ul class="list-group list-group-flush" style="border: 1px solid #e2e2e2">
                <li class="list-group-item">ID: <%= user.id %></li>
                <li class="list-group-item">Email: <%= user.email %></li>
                <li class="list-group-item">Github: <%= user.github %></li>
            </ul>
        </div>
    </div>
</div>